/* app css stylesheet */
body{
    width:100%;
    height:100%;
}

.main{
    text-align:center;
    width:100%;
    height:300px;
}
ul,li{
    list-style:none;
}
.infoTable{
    margin: 0 auto;
    width:80%;
    height:100%;
}
.infoTr{
    text-align:center;
    width:80%;
    height:50px;
}
.infoTr td{
    width:16%;
    height:50px;
    line-height: 50px;
    border: 1px solid cornflowerblue;
    color: ;
}