<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <title>坐标</title>
    <script src="js/angular.min.js"/>
    <script src="js/controllers.js"></script>
</head>
<body>
<div ng-app="" ng-controller="mapControllerZuoBiao">
    <table>
        <tr>
            <td>Latitude:</td>
            <td>
                <input type="text" ng-model="latitude"/>
            </td>
        </tr>
        <tr>
            <td>Longitude:</td>
            <td>
                <input type="text" ng-model="longitude"/>
            </td>
        </tr>
    </table>
</div>

</body>
</html>